body {
    margin: 50px 0 105px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
    color: #666;
}

/*首页begin*/
.logo {
    padding: 0;
!important;
}

.carousel-inner .item img {
    margin: 0 auto;
}

.carousel-control {
    font-size: 100px;
}

.section1-h2 {
    color: #4FB6E8;
    margin: 50px auto 10px;
    text-align: center;
}

.section1-p {
    margin: 20px auto 60px;
    text-align: center;
}

.section1 .media {
    margin: 0 auto 30px;
}

.section2 {
    background-color: #eee;
    padding: 30px;
}

.section3 {
    padding: 50px;
}

.media-body del, .media-body p {
    font-size: 12px;
}

.section2-dsc, .section3-dsc {
    text-align: center;
}

.section2-dsc h3, .section3-dsc h3 {
    font-weight: bold;
}

footer {
    color: #fff;
    text-align: center;
    padding: 20px 0;
    background-color: #666;
}

/*首页end*/
/*资讯begin*/
.jumbotron {
    color: #fff;
    background-color: #666;
}

.list-left-item {
    background-color: #fff;
    padding: 10px;
    box-shadow: 2px 2px 3px 1px #666;
    margin: 14px 0;
}

.list-left-item h4 {
    font-size: 20px;
    font-weight: 600;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.list-left-item p {
    font-size: 14px;
}

.list-right-item {
    margin: 10px 0;
}

.list-right-item h4 {
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    margin-bottom: 2px;
    margin-top: 0;

}

.list-right-item .text-muted {
    font-size: 12px;
}

.list-right {
    background-color: #fff;
    padding: 10px;
    box-shadow: 2px 2px 3px 1px #666;
    margin: 14px 0;
}

.list-right-item .col-lg-5 {
    padding: 0;
}

/*资讯end*/

/*案例begin*/
.case .thumbnail h4 {
    text-align:center;
}
.case .thumbnail p{
    text-align:center;
}
/*案例end*/
@media (max-width: 768px) {
    .section1-h2 {
        font-size: 20px;
        margin: 20px auto 10px;
    }

    .section1-p {
        font-size: 14px;
        margin: 0 auto 26px;
    }

    .media-body .media-heading {
        font-size: 14px;
        margin: 0 0 4px;
    }

    .media-body del, .media-body p {
        font-size: 12px;
    }

    .section2-dsc h3, .section3-dsc h3 {
        font-size: 20px;
    }

    .section2-dsc p, .section3-dsc p {
        font-size: 14px;
    }

    .list-left-item h4 {
        font-size: 14px;
        font-weight: 600;
        line-height: 12px;
        margin: 6px 0;
    }

    .list-left-item p {
        font-size: 12px;
        margin-bottom: 4px;
    }

    .list-left-item .text-muted {
        font-size: 12px;
    }
    .jumbotron h1 {
        font-size: 22px;
    }
    .jumbotron h4 {
        font-size: 8px;
    }
    .list .container {
        padding:0;
    }
    .jumbotron {
        margin-bottom:4px;
    }
}

@media (min-width: 768px) {
    .section1-h2 {
        font-size: 26px;
    }

    .section1-p {
        font-size: 16px;
    }

    .jumbotron h1 {
        font-size: 28px;
    }
    .jumbotron h4 {
        font-size: 14px;
    }
    .list .container {
        padding:0;
    }
    .jumbotron {
        margin-bottom:6px;
    }
}

@media (min-width: 992px) {
    .section1-h2 {
        font-size: 28px;
    }

    .section1-p {
        font-size: 17px;
    }

    .section1 .media-heading {
        margin: 10px auto 15px 0;
    }

    .jumbotron h1 {
        font-size: 32px;
    }
    .jumbotron h4 {
        font-size: 16px;
    }
    .jumbotron {
        margin-bottom:10px;
    }
}

@media (min-width: 1200px) {
    .section1-h2 {
        font-size: 30px;
    }

    .section1-p {
        font-size: 20px;
    }

    .section1 .media-heading {
        margin: 10px auto 15px 0;
    }

    .jumbotron h1 {
        font-size: 36px;
    }
    .jumbotron h4 {
        font-size: 18px;
    }
}


